<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Food</title>
</head>
<body>
    <a href="/foods/">Back to Food</a>
    <h1>Create a New Food!</h1>
    <form action="/foods" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div> <br/>

        <div>
            <label for="description">Describe it:</label>
            <textarea name="description" id="description"></textarea>
        </div> <br/>

        <div>
            <label for="image">Image:</label>
            <input type="text" name="image" id="image">
        </div>
        
        <button type="submit">Add Food</button>
    </form>
</body>
</html>